.form-row.justify-content-between.nested-fields
  .col-md-4
    .form-label-group.mb-3
      = f.text_field :header, placeholder: 'Subtitulo', class: 'form-control', required: true
      = f.label :header, 'Subtitulo'
    .form-label-group.mb-3
      = f.text_field :image_url, placeholder: 'URL imagen (opcional)', class: 'form-control', required: false
      = f.label :image_url, 'URL imagen (opcional)'
  .col-md-6
    .form-label-group
      = f.text_area :body, placeholder: 'Contenido', class: 'form-control', required: true, rows: "4"
  .col-mb-2
    = link_to_remove_association 'Quitar seccion', f, class: 'btn btn-danger'
