= render 'layouts/header'
#wrapper
  = render 'layouts/sidebar'
  #content-wrapper
    .container-fluid
      / Breadcrumbs
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Noticias', articles_path
        %li.breadcrumb-item.active Todos
      .card.mb-3
        .card-header
          .row.justify-content-between
            .col-3.align-self-center
              %i.fas.fa-table
              Lista de Noticias
            .col-3
              - if can? :create, current_user
                = link_to 'Nueva Noticia', new_article_path(), class: 'btn btn-primary btn-block float-right'
        .card-body
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
              %thead
                %tr
                  %th Numero
                  %th Titulo
                  %th Autor
                  %th Fecha
                  %th Estado de publicacion
                  %th
                  %th
                  %th


= render 'layouts/footer'
