
/ Breadcrumbs
.card.mb-3
  .card-header
    %i.fas.fa-table
    Lista de productos a la venta
  .card-body
    - if @order.errors.any?
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
    = form_for @order do |order_form|
      .form-group
        .form-row.justify-content-between
          .col-md-3
            = order_form.submit 'Guardar', class: 'btn btn-primary btn-block'
          - if @title == :new
            .col-md-3
              = link_to 'Cancelar', orders_path, class: 'btn btn-secondary btn-block'
      .form-group
        = order_form.fields_for :order_items do |order_item_form|
          = render 'order_item_fields', f: order_item_form
        = link_to_add_association 'Add order item', order_form, :order_items, class: 'btn btn--secondary'

= render 'admin/layouts/footer'
