= render 'admin/layouts/header'
#wrapper
  = render 'admin/layouts/sidebar'
  #content-wrapper
    .container-fluid
      / Breadcrumbs
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Ordenes', orders_path
        %li.breadcrumb-item.active #{@order.number}
      .card.mb-3
        .card-header
          .row.justify-content-between
            .col-3.align-self-center
              %i.fas.fa-order-circle
              Orden
            .col-3
              = link_to 'Editar', orders_path, class: 'btn btn-primary btn-block float-right'
        .card-body
          .row
            .col-md-6
              Numero de orden:
              %br
              #{@order.number}
            .col-md-6
              Fecha:
              %br
              #{@order.created_at.strftime("%m/%d/%Y")}
          .row
          .row
            .col-md-6
              Total:
              %br
              #{@order.total}
            .col-md-6
              Vendedor:
              %br
              #{@order.seller.try(:first_name)}
          .row
          .row
            .col-md-6
              %br/
              Lista de productos de la orden:
          .row
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
              %thead
                %tr
                  %th Producto
                  %th Precio
                  %th Cantidad
                  %th SubTotal
              %tbody
                - @order_items.each do |item|
                  %tr
                    %td.align-middle=item.product.try(:name)
                    %td.align-middle=item.product.try(:price)
                    %td.align-middle=item.amount
                    %td.align-middle=item.item_total

= render 'admin/layouts/footer'
