= wicked_pdf_stylesheet_link_tag "pdf"
%body.bodyReporte
%br
%br
%h1 Escuela Calle Liles
%hr

%br

%h2 Reporte mensual de  #{@monthText}, #{@year}
%p Vendedor: #{@vendedor.try(:first_name)} #{@vendedor.try(:last_name)}

%br

%h3 Productos Mas Vendidos
.table-responsive
  %table#dataTable.table.tableReporte{:cellspacing => "0", :width => "100%"}
    %thead
      %tr.trReporte
        %th.thReporte Producto
        %th.thReporte Vendidos
    %tbody
      - @masvendidos.each do |producto,cantidad|
        %tr.trReporte
          %td.tdReporte.align-middle=producto
          %td.tdReporte.align-middle=cantidad

%br

%ul
  %li.liReporte
    %strong
      Total de Ordenes por mes:
    #{@ordenes_por_mes}
  %li.liReporte
    %strong
      Ganancia Total:
    ="₡ #{number_with_precision(@ganancia_total, precision: 0)}"
  %li.liReporte
    %strong
      Ganancia Por Miembro:
    ="₡ #{number_with_precision(@ganancia_por_miembro, precision: 0)}"
