%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
= wicked_pdf_stylesheet_link_tag "pdf"
%body.bodyReporte
%br
%br
%h1 Escuela Calle Liles
%hr

%br

%h2 Reporte mensual de  #{@monthText}, #{@year}
%p
  %strong
    Vendedor: 
  #{@vendedor.try(:first_name)} #{@vendedor.try(:last_name)}
%ul
  %li.liReporte
    %strong
      Órdenes por mes:
    #{@ordenes_por_mes}
  %li.liReporte
    %strong
      Ganancia total:
    ="₡ #{number_with_precision(@ganancia_total, precision: 0)}"
  %li.liReporte
    %strong
      Ganancia por miembro:
    ="₡ #{number_with_precision(@ganancia_por_miembro, precision: 0)}"    

%br


%h3 Productos más vendidos
.table-responsive
  %table#dataTable.table.tableReporte{:cellspacing => "0", :width => "100%"}
    %thead
      %tr.trReporte
        %th.thReporte Producto
        %th.thReporte Vendidos
    %tbody
      - @masvendidos.each do |producto,cantidad|
        %tr.trReporte
          %td.tdReporte.align-middle=producto
          %td.tdReporte.align-middle=cantidad

%br

