= wicked_pdf_stylesheet_link_tag "pdf"
%br
%br
%h1 Escuela Calle Liles
%hr

%br

%h2 Reporte mensual de  #{@monthText}, #{@year}
%p Vendedor: #{@vendedor.try(:first_name)} #{@vendedor.try(:last_name)}
%p Fecha: #{@day}/#{@month}/#{@year}

%br

%h3 Productos Mas Vendidos
.table-responsive
  %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Producto
        %th Vendidos
    %tbody
      - @masvendidos.each do |producto,cantidad|
        %tr
          %td.align-middle=producto
          %td.align-middle=cantidad

%br

%ul
  %li
    %strong
      Total de Ordenes por mes:
    #{@ordenes_por_mes}
  %li
    %strong
      Ganancia Total:
    ="₡ #{number_with_precision(@ganancia_total, precision: 0)}"
  %li
    %strong
      Ganancia Por Miembro:
      ="₡ #{number_with_precision(@ganancia_por_miembro, precision: 0)}"
